.containerUsers {
  height: 100%;
  cursor: pointer;
}

.userName {
  margin: 0;
  width: 100%;
  margin-top: 4px;
  margin-left: 4px;
  font-size: 20px;
  font-weight: 550;
}

.usersList {
  height: 5%;
  display: flex;
  border-bottom: 1px solid black;
  background: #f3f3f3;
}

.usersList:hover {
  background-color: #e6e6e6;
}

.iconUser {
  margin-top: 10px;
  margin-left: 4px;
  height: 30%;
}
