html,
body {
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
}

#root {
  height: 100vh;
}

* {
  box-sizing: border-box;
}

.joinOuterContainer {
  display: flex;
  justify-content: center;
  text-align: center;
  height: 100vh;
  align-items: center;
  background-color: white;
}

.joinInnerContainer {
  width: 50%;
}

.joinInput {
  border-radius: 10px;
  border: 1px solid transparent;
  background-color: #e6e6e6;
  margin-top: 15px;
  padding: 15px 20px;
  width: 50%;
  color: #403866;
  font-size: 20px;
  font-weight: 550;
}

.heading {
  color: #403866;
  font-size: 30px;
  font-weight: 750;
  padding-bottom: 15px;
  border-bottom: 2px solid white;
}

.button {
  text-transform: uppercase;
  text-decoration: none;
  background: #2979ff;
  padding: 20px;
  border-radius: 5px;
  display: inline-block;
  border: none;
  width: 50%;
  margin-top: 15px;
  color: white;
  font-size: 15px;
  font-weight: 550;
}

@media (min-width: 320px) and (max-width: 480px) {
  .joinOuterContainer {
    height: 100%;
  }

  .joinInnerContainer {
    width: 90%;
  }

  .joinInput {
    width: 70%;
  }

  .button {
    width: 70%;
  }
}

button:focus {
  outline: 0;
}
